#header {
  background-color: crimson; 
}
#title {
  text-align: center;
  color: white;
}
#Navlinks {
  text-align: center;
}
.Navlink {
  color: white;
  padding:15px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  width:15%;
  padding: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-title {
  font-size: large;
  font-weight: bold;
  margin-top : 2%;
  text-align: center;
}
.card-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
}
.card-price {
  text-align: center;
}
.card-holiday {
  text-align: center;
  vertical-align: bottom;
  margin-bottom: 10px;
  opacity: .5;
  color: grey;
}
.items {
  display : flex;
  flex-direction : row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-evenly;
}
